body {
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 13px;*/
  /*background-color: red;*/
}

#divPrint {
  margin: auto;
  width: 100%;
  font-size: 1rem;
}

#PageTitle {
  width: 100%;
}

#SchoolLogoTH {
  text-align: center;
}

#SchoolLogo {
  width: 70px;
}

#SchoolName {
  text-align: center;
}

#Performance {
  text-align: left;
}

#Attainment {
  text-align: right;
}


#useroptions {
  border: 1px solid #ddd;
  border-collapse: collapse;
  font-size: 0.8rem;
}

#useroptions td, #useroptions th {
  border: 1px solid #ddd;
  text-align: center;
  horiz-align: center;
  /*padding: 1px;*/
}

select input{
  all: none;
}



#InDepthDiv {
  width: 70%;
  margin: auto;
  color: gray;
  font-size: 10px;
}

#InDepthTD {
  text-align: right;
  opacity: 0.5;
}
#today{
  color: black;
}


.rc-green, .w3-text-green {
  color: green;
}

.rc-l-green, .w3-text-light-green {
  color: #8BC34A;
}

.rc-lime, .w3-text-lime {
  color: #CDDC39;
}

.rc-orange, .w3-text-orange {
  color: orange;
}
.rc-red, .w3-text-red {
  color: red;
}

.w3-text-gray {
  color: gray;
}
