body {
  font-family: Arial, Helvetica, sans-serif;
}
#divprint {
  margin: auto;
}

#useroptions,#header {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  height: 80%;
  margin: auto;
  text-align: center;
}

#useroptions td, #useroptions th {
  border: 1px solid #ddd;
  padding: 2px;
}

#useroptions tr:nth-child(even){background-color: #f2f2f2;}

#useroptions tr:hover {background-color: #ddd;}

#useroptions th {
  padding-top: 12px;
  padding-bottom: 12px;
}
.TableTitle {
    border: none;
}

#InDepthDiv {
  width: 70%;
  margin: auto;
  color: gray;
  font-size: 10px;
  opacity: 0.5"
}
#InDepthTD {
  text-align: right;
}

#PageTitle {
  margin: auto; width: 70%;
}
#SchoolLogoTH {
  text-align: center;
}
#SchoolLogo {
  width: 10%;
}
#SchoolName {
  text-align: center;
}
#Performance {
  text-align: left;
}
#Attainment {
  text-align: right;
}