/*Grades CSS*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#divprint {
  width: 100%;
}

#PageTitle {
	margin: auto;
    width: 100%;
}

#SchoolLogoTH {
  text-align: center;
}

#SchoolLogo {
  width: 70px;
  margin: auto;
}

#SchoolName {
  text-align: center;
}

#SchoolInfo, #attainment {
	margin: auto;
	width: 40%;
	border-collapse: collapse;
}

#SubjectExam {
	margin: auto;
	font-size: 10px;
	width: 50%;
  border-collapse: collapse;
}


.dropdown12 {
  background-color: white;
  color: red;
  border: none;
  outline: none;
  -webkit-appearance: none;

}

td {
  height: 40px !important;
}

.VGrade {
    writing-mode: vertical-lr;
   -ms-writing-mode: tb-rl;
   transform: rotate(270deg);
}

.bigtext {
	font-size: 16px;
  font-weight: bold;
}
#SchoolInfo th, #SchoolInfo td, #SubjectExam th, #SubjectExam td, #attainment td, #attainment th {	
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}

.HiddenCell {
	border: none !important;
}


.w3-yellow {
	background-color: yellow;
}
.w3-blue {
	background-color: blue;
}

.w3-green {
	background-color: green;
}

.w3-red {
	background-color: red;
}

.pdfcenter {
	background-color: red;
}


#InDepthDiv {
  width: 62%;
  margin: auto;
  color: gray;
  font-size: 10px;
  opacity: 0.5";
}

#InDepthTD {
  text-align: right;
}

.JText {
      width: 10%; 
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      text-align: center;
      border: none;
}
