/*Grades CSS*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#divprint {
  width: 100%;
}

#PageTitle {
	margin: auto;
    width: 100%;
}

#SchoolLogoTH {
  text-align: center;
}

#SchoolLogo {
  width: 70px;
  margin: auto;
}

#SchoolName {
  text-align: center;
}

#SchoolInfo, #attainment {
	margin: auto;
	width: 40%;
	border-collapse: collapse;
  white-space: nowrap;
}

#SubjectExam {
	margin: auto;
	width: 80%;
}


#SchoolInfo th, #SchoolInfo td, #SubjectExam th, #SubjectExam td, #attainment td, #attainment th {	
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}

.HiddenCell {
	border: none !important;
}

.VGrade {
  padding:  4px !important;
}

.w3-yellow {
	background-color: yellow;
}
.w3-blue {
	background-color: blue;
}

.w3-green {
	background-color: green;
}

.w3-red {
	background-color: red;
}

.pdfcenter {
	background-color: red;
}


#InDepthDiv {
  width: 62%;
  margin: auto;
  color: gray;
  font-size: 10px;
  opacity: 0.5";
}

#InDepthTD {
  text-align: right;
}

.select1 {
  width: 100%;
  text-align-last: center;
  border:0px;
  outline:0px;
}

td.tip {
    border-bottom: 1px dashed;
    text-decoration: none
}
td.tip:hover {
    cursor: help;
    position: relative
}
td.tip span {
    display: none
}
td.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}